<main>
    <div class="container-agendamento">
        <form action="cadastro_funcionario.html" class="nome-func">

            <div>
                <label>Nome:</label>
                <input type="text" id="nome">
            </div>

            <div>
                <label>Email:</label>
                <input type="text" id="email">
            </div>

            <div>
                <label>CPF:</label>
                <input type="text" id="cpf">
            </div>

            <div>
                <label for="botao-select">Dias de trabalho:</label>
                <input id="botao-select">
            </div>

            <div>
                <label>Horário</label>
                <input type="time">
            </div>

            <div>
                <label>Senha</label>
                <input type="password">
            </div>

            <div>
                <label>Confirmar Senha</label>
                <input type="password">
            </div>

            <div class="grupo-botao">

                <div id="botao-agend-confirm">

                    <button type="button">Cadastro Sucesso</button>

                </div>
                <div id="botao-agend-cancel">

                    <button type="button">Cadastro Fail</button>

                </div>
            </div>
        </form>
    </div>
</main>