<main>
    <section class="container-agendamento">
        <form class="nome-func">

            <div>
                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" placeholder="Nome do funcionário">
            </div>

            <div>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="Email do funcionário">
            </div>

            <div>
                <label for="cpf">CPF:</label><br>
                <input type="text" id="cpf" name="cpf" placeholder="CPF do funcionário">
            </div>
            <div>
                <label for="dias-de-trabalho">Dias de trabalho</label><br>
                <input type="button" id="dias-de-trabalho" name="dias-de-trabalho" value="Dias de trabalho">
            </div>
            <div>
                <label for="hora">Horário</label><br>
                <input type="time" id="hora" name="hora">
            </div>

            <div>
                <label for="senha">Senha</label><br>
                <input type="password" id="senha" name="senha" placeholder="Senha para o funcionário">
            </div>

            <div>
                <label for="confirma-senha">Confirmar Senha</label><br>
                <input type="password" id="confirma-senha" name="confirma-senha" placeholder="Confirmar senha">
            </div>

            <div class="grupo-botao">
                <div id="botao-agend-confirm">
                    <button type="button">Cadastrar</button>
                </div>
                <div id="botao-agend-cancel">
                    <button type="button">Cancelar</button>
                </div>
            </div>
        </form>
    </section>
</main>