<header>
    <div class="cabecalho">
        <img src="/img/bsmlogo.png" alt="logo barbershop">
        <img onclick="abrir_menu()" ondblclick="fechar_menu()" src="/img/menu.png" alt="menu">
    </div>

    <nav id="menu">
        <ul>
            <li><a href="#" class="fechando_menu" onclick="fechar_menu()">&times;</a></li>
            <li> <a href="index.html">
                    <h3>Pagina Principal</h3>
                </a> </li>

            <li> <a href="cadastro_funcionario.html">
                    <h3>Cadastrar Funcionário</h3>
                </a> </li>

            <li> <a href="mostra_todos_funcionarios.html">
                    <h3>Mostrar Funcionários</h3>
                </a> </li>

            <li> <a href="mostra_todos_clientes.html">
                    <h3>Mostrar Clientes</h3>
                </a> </li>

            <li> <a href="controle_de_caixa.html">
                    <h3>Controle Caixa</h3>
                </a> </li>

            <li> <a href="perfil_adminstrador.html">
                    <h3>Perfil</h3>
                </a> </li>

            <li> <a href="login.html">
                    <h3>Sair</h3>
                </a> </li>
        </ul>
    </nav>
</header>
{{#each erros}}
<div>{{texto}}</div>
{{else}}

{{/each}}
<main>
    <section class="container-agendamento">
        <form action="/admin/cadastro-funcionario/novo" method="POST" class="nome-func">
            <div>
                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" placeholder="Nome do funcionário">
            </div>
            <div>
                <label for="userName">Nome de usuário:</label><br>
                <input type="text" id="userName" name="userName" placeholder="Nome de usuário (pode ser seu apelido):">
            </div>
            <div>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="Email do funcionário">
            </div>
            <div>
                <label for="cpf">CPF:</label><br>
                <input type="number" id="cpf" name="cpf" placeholder="CPF do funcionário">
            </div>
            <fieldset>
                <legend>Dias de Trabalho:</legend>
                <div class="dias-de-trabalho">
                    <label for="segunda"> Segunda-Feira </label>
                    <input type="checkbox" id="segunda" name="segunda" value="Segunda-Feira">
                </div>
                <div class="dias-de-trabalho">
                    <label for="terca"> Terça-Feira </label>
                    <input type="checkbox" id="terca" name="terca" value="Terça-Feira">
                </div>
                <div class="dias-de-trabalho">
                    <label for="quarta"> Quarta-Feira </label>
                    <input type="checkbox" id="quarta" name="quarta" value="Quarta-Feira">
                </div>
                <div class="dias-de-trabalho">
                    <label for="quinta"> Quinta-Feira </label>
                    <input type="checkbox" id="quinta" name="quinta" value="Quinta-Feira">
                </div>
                <div class="dias-de-trabalho">
                    <label for="sexta"> Sexta-Feira </label>
                    <input type="checkbox" id="sexta" name="sexta" value="Sexta-Feira">
                </div>
                <div class="dias-de-trabalho">
                    <label for="sabado"> Sábado </label>
                    <input type="checkbox" id="sabado" name="sabado" value="Sábado">
                </div>
                <div class="dias-de-trabalho">
                    <label for="domingo"> Domingo </label>
                    <input type="checkbox" id="domingo" name="domingo" value="Domingo">
                </div>
            </fieldset>
            <div>
                <label for="dasHora">Das:</label><br>
                <input type="time" id="dasHora" name="dasHora">
            </div>
            <div>
                <label for="ateHora">Até:</label><br>
                <input type="time" id="ateHora" name="ateHora">
            </div>
            <div>
                <label for="dataNasc">Data de nascimento:</label><br>
                <input type="date" id="dataNasc" name="dataNasc">
            </div>
            <div>
                <label for="tele">Telefone:</label><br>
                <input type="text" id="tele" name="tele">
            </div>
            <div>
                <label for="senha">Senha:</label><br>
                <input type="password" id="senha" name="senha" placeholder="Senha para o funcionário">
            </div>
            <div>
                <label for="senha2">Confirmar senha:</label><br>
                <input type="password" id="senha2" name="senha2" placeholder="Confirmar senha">
            </div>
            <div>
                <input type="hidden" id="nivel" name="nivel" value="1"> <br>
            </div>
            <div class="grupo-botao">
                <div id="botao-agend-confirm">
                    <button type="submit">Cadastrar</button>
                </div>
                <div id="botao-agend-cancel">
                    <button type="button">Cancelar</button>
                </div>
            </div>
        </form>
    </section>
</main>

<!-- Adicionando o modal da parte do cadastro do funcionário -->


<script src="/js/scripts.js"></script>
<script src="/js/modal_cadastro.js"></script>