<main>
    <div class="container-caixa">

        <div class="bloco-1">
            <h2>Rendimento</h2>
            <div class="drop">
                <select name="Periodo" class="dropdown_periodo">
                    <option>Anual</option>
                    <option>Mensal</option>
                    <option>Semanal</option>
                    <option>Diário</option>
                </select>
            </div>

            <div id="chartContainer" style="height: 300px; width: 100%;"></div>


            <div class="corte">
                <div>

                    <p>
                        <strong>Número de cortes:</strong>
                    </p>
                </div>

                <input type="text" class="out"> <br>
            </div>

            <div class="download">
                <img src="./assets/img/download.png" alt="download" title="Realizar download">
            </div>

        </div>

        <div class="bloco-2">
            <h2>Rendimento</h2>
            <div class="drop">
                <select name="Periodo" class="dropdown_periodo">
                    <option>Anual</option>
                    <option>Mensal</option>
                    <option>Semanal</option>
                    <option>Diário</option>
                </select>
            </div>

            <div id="Ferreira" style="height: 300px; width: 100%;"></div>

            <div class="corte">
                <strong>Número de cortes:</strong>
                <input type="text" class="out"> <br>
            </div>

            <div class="download">
                <img src="./assets/img/download.png" alt="download" title="Realizar download">
            </div>

        </div>

        <div class="bloco-3">
            <h2>Rendimento</h2>
            <div class="drop">
                <select name="Periodo" class="dropdown_periodo">
                    <option>Anual</option>
                    <option>Mensal</option>
                    <option>Semanal</option>
                    <option>Diário</option>
                </select>
            </div>

            <div id="Siqueira" style="height: 300px; width: 100%;"></div>

            <div class="corte">
                <strong>Número de cortes:</strong>
                <input type="text" class="out"> <br>
            </div>

            <div class="download">
                <img src="./assets/img/download.png" alt="download" title="Realizar dowload">
            </div>

        </div>
    </div>

</main>