<main>
    <div class="lista-de-funcionarios">
        <div class="busca">
            <input type="text" id="texbusca" placeholder="Funcionário..." />
            <img src="/img/Buscar.png" id="btnBusca" alt="Buscar" />
        </div>
        {{#each funcionariosnovos}}
        <div class="container-funcionarios">
            <div class="card-funcionario1">
                <!--<img src="/img/gustavo2.png" alt="">-->
                <div class="body-card">
                    <h4>{{nome}}</h4>
                    <div class="estrelas">

                    </div>
                    <a href="/admin/perfil-funcionario/{{_id}}">Ver perfil</a>
                </div>
            </div>
        </div>
        {{else}}
        <p>Nenhum funcionário cadastrado</p>
        {{/each}}
    </div>
    </div>
</main>