<main>
    <div class="content">
        <div class="card1">
            <div class="meio-Card">
                <h2>Nome: Gabriel Ferreira</h2>
                <h2>CPF: 716916165521</h2>
                <h2>Email: erty@gmail.com</h2>
                <h2>Dias de Trabalho:</h2>
                <h2>Segunda-Feira - Terça-Feira - Sexta-Feira</h2>
            </div>
            <div class="baixoCard">
                <div id="ativaFunc" class="buttonFunc"><a href="">Ativar Funcionário</a></div>
                <div id="desativaFunc" class="buttonFunc"><a href="">Desativar Funcionário</a>
                </div>
                <div id="ExcluirFunc" class="buttonFunc"><a href="">Excluir Funcionário</a></div>
            </div>
        </div>

        <div class="card2">
            <div id="graph_funcionarios">
                <div class="dropdown_graph">
                    <select name="Periodo" id="dropdow_periodo">
                        <option>Anual</option>
                        <option>Mensal</option>
                        <option>Semanal</option>
                        <option>Diário</option>
                    </select>
                </div>
                <div id="Cliente" style="height: 300px; width: 100%;"></div>
                <div class="dados-cortes">
                    <label for="ncortes">Numero de Agen. Totais:</label>
                    <input type="text" id="ncortes" name="ncortes" value="145" disabled>
                </div>
                <div class="download_graph">
                    <img class="img2" src="assets/img/download.png" alt="download">
                </div>
            </div>
        </div>

        <div class="card3">
            <div class="meio-Card" id="pag_card">
                <div id="quadro_funcionarios">
                    <div class="quadro_funcionarios">
                        <h2>Quadro de Funcionários</h2>
                        <div class="pesquisar_funcionario">
                            <input type="text">

                        </div>
                        <div class="funcionario_list">
                            <!--Aqui ficará a lista com o nome de cada funcionário-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="baixoCard">
            </div>
        </div>
    </div>

</main>