<main>
    <div class="lista-de-funcionarios">
        <div class="busca">
            <input type="text" id="texbusca" onkeyup="Filtro()" placeholder="Funcionário..." />
            <img src="/img/Buscar.png" id="btnBusca" alt="Buscar" />
        </div>
        <div class="container-funcionarios">
            <ul id="ulFuncs" class="card-funcionario">

                {{#each funcionariosnovos}}
                <li class="body-card">
                    <!--<img src="/img/gustavo2.png" alt="">-->
                    <a href="/admin/perfil-funcionario/{{_id}}">{{nome}}</a>
                </li>
                {{else}}

                <p>Nenhum funcionário cadastrado</p>

                {{/each}}
            </ul>
        </div>
    </div>
</main>