<main>
    <div class="content">
        <div class="card">
            <div class="meio-Card" id="cadastro_func_card"></div>
            <div class="baixoCard">
                <h2><a href="admin/cadastro-funcionario">Cadastrar Funcionário</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="most_funcionario"></div>
            <div class="baixoCard">
                <h2><a href="admin/lista-de-funcionarios">Mostrar Funcionários</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="most_cliente"></div>
            <div class="baixoCard">
                <h2><a href="lista_clientes_admin.html">Mostrar Clientes</a></h2>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <div class="meio-Card" id="cont_caixa"></div>
            <div class="baixoCard">
                <h2><a href="controle_de_caixa.html">Controle de Caixa</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="futuramente"></div>
            <div class="baixoCard">
                <h2><a href="#">#</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="futuro"></div>
            <div class="baixoCard">
                <h2><a href="#">#</a></h2>
            </div>
        </div>
    </div>
</main>