{{#each erros}}
    <div class="alert">{{texto}}</div>
{{else}}
{{/each}}

<main>
    <div class="container-agendamento">
        <form action="/cliente/agendamentos/novo" method="post">
            <div class=func>

                <label>Nome do funcionário</label><br>
                <input type="text" name="func">
            </div>
            <div class=SlctServiço>
                <label for="servicos">Escolha um serviço</label>
                <select name="servicos" id="servicos">
                    <option value="serviço1">serviço1</option>
                    <option value="serviço2">serviço2</option>
                    <option value="serviço3">serviço3</option>
                </select>
            </div>
            <div class="data-hora">
                <div class="DataServico">
                    <label>Data do serviço</label>
                    <input type="date" name="DataServico">
                </div>
                <div class="horaservico">
                    <label>Horário</label>
                    <input type="time" name="horaservico">
                </div>
            </div>
            <div class="slctFormPagamento">
                <label for="pagamento">Escolha a forma de pagamento</label>
                <select name="pagamento" id="pagamento">
                    <option value="serviço1">Dinheiro</option>
                    <option value="serviço2">Cartão</option>
                </select>
            </div>
            <div class="numero">
                <label for="telefone">Telefone</label>
                <input type="tel" name = "numero" id="telefone" placeholder="(DDD)999999999">
            </div>
            <div class="obs">
                <label>Observações:</label>
                <textarea cols="30" rows="10" name='obs'></textarea>
            </div>
            <div class="grupo-botao">

            </div>
        <div id="botao-agend-confirm">
            <button type="submit">Confirmar Agendamento</button>
        </div>
        
        </form>
    </div>
</main>