<main>
    <section class="lista-de-funcionarios">
        <div class="busca">
            <input type="text" id="texbusca" placeholder="Funcionário..." />
            <img src="/img/Buscar.png" id="btnBusca" alt="Buscar" />
        </div>
        <div class="container-funcionarios">
            <div class="card-funcionario1">
                
                <div class="body-card">
                    <h4>Gustavo Martins Ribeiro</h4>
                    <div class="estrelas">

                    </div>
                    <a href="">Ver perfil</a>
                </div>
            </div>
            <div class="card-funcionario1">
                <div class="body-card">
                    <h4>Pablo Christiano Lobo</h4>
                    <div class="estrelas">

                    </div>
                    <a href="">Ver perfil</a>
                </div>
            </div>
            <div class="card-funcionario1">
                <div class="body-card">
                    <h4>Pedro Vitor de Jesus</h4>
                    <div class="estrelas">

                    </div>
                    <a href="">Ver perfil</a>
                </div>
            </div>
            <div class="card-funcionario1">
                <div class="body-card">
                    <h4>Colemar Aguiar</h4>
                    <div class="estrelas">

                    </div>
                    <a href="#">Ver perfil</a>
                </div>
            </div>
            <p><a href="#">Ver mais...</a></p>
        </div>
    </section>
</main>