<main>
    <div class="content">
        <div class="card">
            <div class="meio-Card" id="menu1"></div>
            <div class="baixoCard">
                <h2><a href="cliente/lista-de-funcionarios">Lista de Funcionários</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="menu2"></div>
            <div class="baixoCard">
                <h2><a href="cliente/agendamentos">Fazer Agendamento</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="menu3"></div>
            <div class="baixoCard">
                <h2><a href="cliente/perfil-cliente">Meu perfil</a></h2>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <div class="meio-Card" id="menu4"></div>
            <div class="baixoCard">
                <h2><a href="#">#</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="menu5"></div>
            <div class="baixoCard">
                <h2><a href="#">#</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="menu6"></div>
            <div class="baixoCard">
                <h2><a href="#">#</a></h2>
            </div>
        </div>
    </div>
</main>