<main>
    <div class="menuCliente">
        <a href="tabela_de_funcionarios.html">
            <div class="cartao-1">
                <img src="assets/img/servico2.png" alt="#">
            </div>
        </a>
        <a href="agendamento.htm">
            <div class="cartao-2">
                <img src="assets/img/servico2.png" alt="#">
            </div>
        </a>
        <div class="cartao-3">
            <img src="#" alt="#">
        </div>
        <div class="cartao-4">
            <img src="#" alt="#">
        </div>
        <div class="cartao-5">
            <img src="#" alt="#">
        </div>
        <div class="cartao-6">
            <img src="#" alt="#">
        </div>
    </div>
</main>