<footer>
        <div class="container-footer">
            <a href="/"></a><img src="/img/Logo-em-Branco.png" alt="barbershop-logo-branca" class="logo-footer" /></a>
            <nav id="rede-social">
                <ul>
                    <li><a href="#"></a><img src="/img/Facebook.png" alt="facebook-barbarmanager" /></a></li>
                    <li><a href="https://instagram.com/barbeariaclubedobolinhadf?igshid=l2k4pqy24mwp"><img src="/img/Instagram.png" alt="instagram-barbermanger"></a></li>
                    <li><a href="#"><img src="/img/Whatsapp.png" alt="whatsapp-barbermanger"></a></li>
                </ul>
            </nav>
        </div>
        <p>&copy; Copyright - 2021</p>
    </footer>
    <script src="/js/scripts.js"></script>