<header>
    <div class="cabecalho">
        <a href="/"><img src="/img/bsmlogo.png" alt="logo barbershop"></a>
        <img id="icone_menu" onclick="abrir_menu()" src="/img/menu.png" alt="menu">
    </div>
    <nav id="menu">
        <img id="fechar" onclick="fechar_menu()" src="/img/fechar_min.png" alt="fechar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/#servicos">Serviços</a></li>
            <li><a href="/#galeria">Galeria</a></li>
            <li><a href="/#sobre">Sobre</a></li>
            <li class="link-login"><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div id="esconder" onclick="fechar_menu()">

    </div>
</header>