{{#each erros}}
    <div class="alert">{{texto}}</div>
{{else}}
{{/each}}
<main>
    <div id="formulario">
        <form action="/confirmar-pagamento/novo" method="POST">
            <label for="name" class="label_text_color">Nome do cliente</label>
            <input type="text" name="name" id="name" class="button" placeholder="Digite seu nome"><br />

            <label for="servico" class="label_text_color">Selecionar serviço</label><br />
            <select id="servico" class="drop_down" name="service">
                <option value="serviço_1">serviço 1</option>
                <option value="serviço_2">serviço 2</option>
                <option value="serviço_3">serviço 3</option>
                <option value="serviço_4">serviço 4</option>
            </select>

            <label for="date" class="text_esquerda">Data do serviço</label>
            <label for="time" class="text_direita">Horário</label><br />

            <div id="div_1">
                <input type="date" name="date" id="date" class="button_div_1">
                <input type="time" name="time" id="time" class="button_div_1">
            </div>

            <br />
            <label for="pagamento" class="label_text_color">Selecionar forma de pagamento</label><br />
            <select id="pagamento" class="drop_down" name="payform">
                <option value="serviço_1">Cartão de crédito</option>
                <option value="serviço_2">Dinheiro</option>
                <option value="serviço_3">Boleto bancário</option>
                <option value="serviço_4">Cartão presente</option>
            </select>

            <label for="valor" class="text_esquerda">Valor</label><br />
            <input type="text" name="valor" id="valor" placeholder="Digite o valor">

            <label for="observ" class="text_esquerda">Observações:</label>
            <textarea name="observ" id="observ" cols="30" rows="10"></textarea>
        <div>
            <button type="submit" id="button_confirmar_pagamento">CONFIRMAR PAGAMENTO</button>
        </div>
        </form>
    </div>
</main>
<div id="modal-notifica-pagamento" class="modal-container">
    <div class="modal">
        <button class="fechar">&times;</button>
        
            <p class="p_notifica">Gustavo Martins</p>
            <p class="p_notifica" >Corte de Cabelo</p>
            <p class="p_notifica text_1" >R$ 25,00</p>
            <p  class="p_notifica text_2" >Dinheiro</p>
            <p  class="p_notifica">Josealdo da Silva</p>
            <form action="pagamento_cliente.html" method="get">
            <div>
                <button type="submit" value="confirma" class="button-confirm">Confimar</button>
            </div>
            <p id="hora_notifica">09:00:00</p>
        </form>
    </div>
</div>

<script src="./public/js/scripts.js"></script>
<script src="./public/js/modal_pagina_pagamento.js"></script>