<main>
    <div class="container">
        <div id="calendar"></div>
    </div>

    <div>
        <h2>Filtro de Clientes</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos voluptatum ex praesentium
            perferendis
            dolorem inventore voluptatibus nihil, temporibus animi suscipit veniam, quam non necessitatibus libero
            officiis natus harum quae?.</p>
    </div>
</main>