<main>
    <div class="content">
        <div class="card">
            <div class="meio-Card" id="atend_dia"></div>
            <div class="baixoCard">
                <h2><a href="funcionario/lista-de-agendamentos">Atendimentos do Dia</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="pag_card"></div>
            <div class="baixoCard">
                <h2><a href="pagamento_cliente.html">Pagamento do Cliente</a></h2>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="card">
            <div class="meio-Card" id="hist_corte"></div>
            <div class="baixoCard">
                <h2><a href="#">Histórico de Cortes</a></h2>
            </div>
        </div>

        <div class="card">
            <div class="meio-Card" id="perfil_func"></div>
            <div class="baixoCard">
                <h2><a href="perfil_funcionario.html">Meu Perfil</a></h2>
            </div>
        </div>
    </div>

</main>