<main>
    <div class="perfil-cliente">
        <img src="assets/img/gustavo1.png">
        <div class="grupo-forms">
            <!-- Fomulários com os dados atuais do cliente -->
            <form id="dados-atuais">
                <fieldset>
                    <legend>Perfil:</legend>
                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" value="Gustavo" disabled>
                    </div>
                    <div>
                        <label for="apelido">Apelido:</label>
                        <input type="text" id="apelido" name="apelido" value="Gugu" disabled>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" value="gustavo@email.com" disabled>
                    </div>
                    <div>
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" value="******" disabled>
                    </div>
                    <div>
                        <label for="aniversario">Aniversário:</label>
                        <input type="date" id="aniversario" name="aniversario" value="2001-08-04" disabled>
                    </div>
                    <div>
                        <label for="cpf">CPF:</label>
                        <input type="number" id="cpf" name="cpf" value="52553843054" disabled>
                    </div>
                    <div>
                        <label for="telefone">Telefone:</label>
                        <input type="number" id="telefone" name="telefone" value="86547287287" disabled>
                    </div>
                </fieldset>
                <div id="botao-alterar">
                    <button type="button">Alterar</button>
                </div>
            </form>
            <!-- Fomulários para alteração dos dados -->
            <form id="alterar-dados" action="/action_page.php">
                <div>
                    <label for="fname-alter">Nome:</label>
                    <input type="text" id="fname-alter" name="fname-alter" placeholder="Digite seu novo nome">
                </div>
                <div>
                    <label for="lname-alter">Apelido:</label>
                    <input type="text" id="lname-alter" name="lname-alter" placeholder="Digite seu novo apelido">
                </div>
                <div>
                    <label for="email-alter">Email:</label>
                    <input type="email" id="email-alter" name="email-alter" placeholder="Digite seu novo email">
                </div>
                <div>
                    <label for="senha-alter">Senha:</label>
                    <input type="password" id="senha-alter" name="senha-alter" placeholder="Digite sua nova senha">
                </div>
                <div>
                    <label for="aniversario-alter">Aniversário:</label>
                    <input type="date" id="aniversario-alter" name="aniversario-alter">
                </div>
                <div>
                    <label for="cpf">CPF:</label>
                    <input type="number" id="cpf-alter" name="cpf-alter" placeholder="Digite seu novo CPF">
                </div>
                <div>
                    <label for="telefone-alter">Telefone:</label>
                    <input type="tel" id="telefone-alter" name="telefone-alter" placeholder="Digite seu novo telefone">
                </div>
                <div id="alterar-desktop">
                    <input type="submit" value="Alterar dados">
                </div>
            </form>
        </div>
    </div>
</main>