<main>
    <section id="home">
        <div class="container-home">
            <h1>BarberShop Manager</h1>
            <p>Uma software para gerenciamento de barbearias</p>
        </div>
        <a href="/cadastro" id="button_cadastro">Cadastre-se</a>
    </section>
    <section id="servicos">
        <h2>Serviços</h2>
        <div class="container-servicos">
            <div class="card-1"></div>
            <div class="card-2">
                <img src="/img/servico1.png" alt="servico 1" />
            </div>
            <div class="card-3"></div>
        </div>
    </section>
    <section id="galeria">
        <h2>Galeria</h2>
        <div class="colagem">
        </div>
    </section>
    <section id="sobre">
        <h2>Sobre</h2>
        
         <p style="font-size: 14pt;">O projeto Barber Shop Manager (BSM) consiste em uma aplicação web com finalidade administrativa, apresentando em sua essencia sistemas de agendamento de serviço.</p>
         <p style="font-size: 14pt;">O aplicativo BarberShopManager passou por diversas transformações ao longo do processo de síntese. Sendo assim, após a prototipagem e a criação das interfaces, desenvolvemos as funcionalidades previamente estabelecidas, dando vida ao aplicativo</p>
        
    </section>
</main>