    <main>
        <div class="formlogin">
            <form action="menu_principal_cliente.html" method="get">
                <div>
                    <label for="user">Usuário</label><br>
                    <input type="text" name="user" id="user">
                </div>
                <div>
                    <label for="passw">Senha</label><br>
                    <input type="password" name="passw" id="passw">
                </div>
                <div id="botao_login">
                    <button>Logar</button>
                </div>
            </form>
            <p>Não possui cadastro? <a href="/cadastro" class="cadas_cliente">Clique aqui</a></p>
        </div>
    </main>