body main .container-agendamento {
    border-radius: 8px;
    display: block;
    width: 80%;
    height: auto;
    padding: 50px 0;
    margin: auto auto 25px auto;
    text-align: left;
}

body main .container-agendamento form {
    height: auto;
    font-size: 14pt;
    background-color: var(--cinza1);
    border-radius: 8px;
    margin: 5px;
    padding:15px;
}


body main .container-agendamento form  div input {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
}

body main .container-agendamento form  div select {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
}

body main .container-agendamento form  div textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
    resize: vertical;
}

body main .container-agendamento form  label {
    color: var(--branco);
}

body main .container-agendamento form .grupo-botao {
    display: block;
    padding: 15px;
}

body main .container-agendamento form .data-hora {
    display: block;
}

#botao-agend-confirm button {
    display: block;
    margin: 15px auto;
    width: 200px;
    height: 50px;
    background-color: var(--verde3);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--branco);
    text-transform: uppercase;
}

#botao-agend-cancel button {
    display: block;
    margin: 15px auto;
    width: 200px;
    height: 50px;
    background-color: var(--vermelho3);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--branco);
    text-transform: uppercase;
}


/*Estilo do modal*/

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background: var(--branco);
    width: 60%;
    max-width: 300px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 5px 5px rgba(0, 0, 0, .5);
    text-align: center;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0)
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.mostrar .modal {
    animation: modal .3s;
}

.fechar {
    position: absolute;
    color: var(--preto);
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--branco);
    cursor: pointer;
}

/*Alterações do css para versão Tablet*/

@media only screen and (min-width: 992px) {
    body main .container-agendamento {
        width: 60%;
    }
}

/*Alterações do css para versão Desktop*/

@media only screen and (min-width: 1366px) {
    body main .container-agendamento {
        width: 40%;

    }
    body main .container-agendamento form .grupo-botao {
        display: flex;
        justify-content: center;
    }
    
    body main .container-agendamento form .data-hora {
        display: grid;
        grid-template-columns: auto auto;
    }

    body main .container-agendamento form .data-hora .hora-servico{
        margin-left: 15px;
    }

    #botao-agend-confirm {
        padding: 15px;
    }

    #botao-agend-cancel {
        padding: 15px;
    }

}