/* Css Modal*/

.modal-container.ok{
    display: flex;
}

/*Formulário*/
body main .container-agendamento {
    border-radius: 8px;
    display: block;
    width: 80%;
    height: auto;
    padding: 50px 0;
    margin: auto auto 25px auto;
    text-align: left;
}

body main .container-agendamento form {
    height: auto;
    font-size: 14pt;
    background-color: var(--cinza1);
    border-radius: 8px;
    margin: 5px;
    padding:15px;
}


body main .container-agendamento form  div input {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
    text-align: left;
    background-color: var(--branco);
    color: var(--cinza3);
}

body main .container-agendamento form div select {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
}

body main .container-agendamento form  div textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
    resize: vertical;
}

body main .container-agendamento form  label {
    color: var(--branco);
}

body main .container-agendamento form .grupo-botao {
    display: block;
    padding: 15px;
}

body main .container-agendamento form .data-hora {
    display: block;
}

body main .container-agendamento form .dias-de-trabalho label {
    padding: 25px 7px;
}

#botao-fechar {
    display: block;
    margin: 15px auto;
    width: 25vh;
    height: 5vh;
    background-color: var(--vermelho3);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--branco);
    text-transform: uppercase;
}

#botao-agend-confirm button {
    display: block;
    margin: 15px auto;
    width: 200px;
    height: 50px;
    background-color: var(--verde3);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--branco);
    text-transform: uppercase;
}

#botao-agend-cancel button {
    display: block;
    margin: 15px auto;
    width: 200px;
    height: 50px;
    background-color: var(--vermelho3);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--branco);
    text-transform: uppercase;
}

/*Css Cadastro dias de trabalho */

.dias-de-trabalho{
    display: flex;
    border: var(--cor-principal) 2px solid;
}

.dias-de-trabalho label{
    width: 100%;
    padding: 7px;
    text-align: left;
}

#confirm{
    display: block;
    margin: auto auto 100px auto;
    width: 211px;
    height: 80px;
    background-color: #E26456;
    margin: 24px auto;
    margin-bottom: 25px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17pt;
    text-transform: uppercase;
}

.modal-container{
    display: none;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal_container.sucesso{
    display: flex;
}

.modal_container.falha{
    display: flex;
}

/*Alterações do css para versão Tablet*/

@media only screen and (min-width: 992px) {
    body main .container-agendamento {
        width: 60%;
    }
}

/*Alterações do css para versão Desktop*/

@media only screen and (min-width: 1366px) {
    body main .container-agendamento {
        width: 40%;

    }
    body main .container-agendamento form .grupo-botao {
        display: flex;
        justify-content: center;
    }
    
    body main .container-agendamento form .data-hora {
        display: grid;
        grid-template-columns: auto auto;
    }

    body main .container-agendamento form .data-hora .hora-servico{
        margin-left: 15px;
    }

    #botao-agend-confirm {
        padding: 15px;
    }

    #botao-agend-cancel {
        padding: 15px;
    }

}