/* forma do login */

body .formlogin {
    border-radius: 8px;
    display: block;
    width: 60%;
    height: auto;
    padding: 150px 0;
    margin: auto auto 25px auto;
    text-align: left;

}

body .formlogin p{
    text-align: center;
}

body .formlogin p a{
    color: var(--preto);
    text-decoration: underline;
}

body .formlogin form {
    font-size: 14pt;
    background-color: var(--cinza1);
    border-radius: 8px;
    margin: 5px;
}

body .formlogin form div {
    padding: 10px 15px ;
}

body .formlogin form div input {
    width: 100%;
    height: 50px;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 14pt;
}

body form label {
    color: var(--branco);
}

/* botao do login */

#botao_login button {
    display: block;
    margin: 25px auto;
    width: 200px;
    height: 50px;
    background-color: var(--cor-principal);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    color: var(--branco);
    text-transform: uppercase;
}

/*Alterações do css para versão Tablet*/

@media only screen and (min-width: 992px) {
    body .formlogin {
        border-radius: 8px;
        display: block;
        width: 40%;
        height: auto;
        padding: 150px 0;
        margin: auto auto 25px auto;
        text-align: left;
    
    }
  }

/*Alterações do css para versão Desktop*/

@media only screen and (min-width: 1366px) {
    body .formlogin {
        border-radius: 8px;
        display: block;
        width: 30%;
        height: auto;
        padding: 50px 0;
        margin: auto auto 25px auto;
        text-align: left;

    }
}
