*{
    /* Paleta de Cores do menu Principal */
    --branco: #f2f2f2;
    --cinza3: #7A7A7A;
    --cinza1: #454545;
    --cinza2: #545454;
}

.content{
    display: flex;
    align-items: center;/*Alinha o itens no eixo X*/
    align-content: center;  /**/
    justify-content: center; /*Alinha o content no eixo */
    width: 100%;
    height: 300px;

}

.card {
    background: var(--cinza2);
    border-radius: 8px;
    box-shadow: 0 2px 23px var(--cinza3);
    width: 320px;
    margin: 20px;
}

.card h2 a {
    color: var(--branco);
    padding: 20px;
}

.meio-Card {
    background: url("/assets/img/funcionario.png") center/cover;
    height: 150px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#most_funcionario{
    background: url("/assets/img/cliente.png") center/cover;
}

#most_cliente{
    background: url("/assets/img/historico_de_cortes.jpg") center/cover;
}

#cont_caixa{
    background: url("/assets/img/controle_caixa.png") center/cover;
}
