@charset "UTF-8"; 

* {
    /* Paleta de Cores do menu Principal */
    --branco: #f2f2f2;
    --cinza3: #7A7A7A;
    --cinza1: #454545;
    --cinza2: #545454;
}

body main section {
    padding: 100px 0;
}

.content{
    display: flex;
    align-items: center;/*Alinha o itens no eixo X*/
    align-content: center;  /**/
    justify-content: center; /*Alinha o content no eixo Y*/
    width: 100%;
    height: 300px;

}

.card {
    background: var(--cinza2);
    border-radius: 8px;
    
    width: 320px;
    margin: 10px;
}

.card h2 a {
    color: var(--branco);
    padding: 20px;
}

.meio-Card, #Cliente {
    background: url("/assets/img/funcionario.png") center/cover;
    height: 150px;
    width: 100%;
    box-shadow: 0 2px 23px var(--cinza3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#most_funcionario{
    background: url("/assets/img/cliente.png") center/cover;
}

#most_cliente{
    background: url("/assets/img/historico_de_cortes.jpg") center/cover;
}

#perfil_func{
    background: url("/assets/img/mostrar_clientes.png") center/cover;
}


body main section .menuCliente {
    display: grid;
    grid-template-columns: auto auto;
}

body main section .menuCliente [class^="cartao"] {
    height: 150px;
    width: 150px;
    background-color: var(--cinza2);
    padding: 15px;
    margin: 15px auto;
    border-radius: 8px;
}

body main section .menuCliente img {
    width: 100%;
}

body footer {
    bottom:0;
    width:100%;
}

@media only screen and (min-width: 720px) {
    body main section .menuCliente {
        display: grid;
        grid-template-columns: auto auto auto;
    }  
    
    body main section .menuCliente [class^="cartao"] {
        height: 200px;
        width: 200px;
        background-color: var(--cinza2);
        padding: 15px;
        margin: 15px auto;
        border-radius: 8px;
    }
  }

  @media only screen and (min-width: 992px) {
    body main section .menuCliente {
        display: grid;
        width: 60%;
        margin: auto;
        grid-template-columns: auto auto auto;
    }  
    
    body main section .menuCliente [class^="cartao"] {
        height: 200px;
        width: 200px;
        background-color: var(--cinza2);
        padding: 15px;
        margin: 15px auto;
        border-radius: 8px;
    }

  }
#cont_caixa{
    background: url("/assets/img/controle_caixa.png") center/cover;
}
