
.container-graphfunc{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

#dados_funcionario{
    display: inline-block;
    clear: both;
}


#dados_funcionario .dados_funcionario{
    width: 400px;
    height: 400px;
    background-color: violet;
    margin: 25px;
}
.dados_funcionario h2{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}


.btns_funcionario #ativaFunc button{
    display: block;
    margin: 25px;
    width: 400px;
    height: 50px;
    background-color: var(--verde3);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--preto);
}

.btns_funcionario #desativaFunc button{
    display: block;
    margin: 25px;
    width: 400px;
    height: 50px;
    background-color: var(--amarelo4);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--preto);
}


.btns_funcionario #ExcluirFunc button{
    display: block;
    margin: 25px;
    width: 400px;
    height: 50px;
    background-color: var(--vermelho3);
    
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: var(--preto);
}

#graph_funcionarios{
    margin: 25px 25px 25px 0px;
}

#graph_funcionarios .dropdown_graph select{
    width: 340px;
    height: 50px;
    background-color: var(--cinza2);
    border-radius: 8px;
    box-shadow: 0 2px 23px var(--cinza3);
    
    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}



#quadro_funcionarios{
    float: right;
}

#quadro_funcionarios .quadro_funcionarios{
    width: 360px;
    height: 535px;
    margin-right: 25px;
    background-color: var(--cinza2);
    border-radius: 8px;
    box-shadow: 0 2px 23px var(--cinza3);
    display: inline-block;
    
}

#quadro_funcionarios .quadro_funcionarios h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    color: var(--branco);
    text-align: center;
}

#quadro_funcionarios .quadro_funcionarios input{
    width: 299px;
    height: 57px;
    border-radius: 8px;

    margin: 0px 27px 0px 34px;
}

footer{
    clear: both;
}